<ion-header>
  <ion-toolbar color="warning">
    <ion-title [routerLink]="['/inicio']"><img src="assets/icon/logo_go.png" width="30" alt="" [routerLink]="['/inicio']"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
   
    <!-- Default title -->
<ion-toolbar>
  <p><ion-title class="ion-text-center">Bienvenido a</ion-title></p>
  <p class="ion-text-center"><img src="assets/icon/logo_go.png" alt="" width="100"></p>
  <p class="ion-text-center"><ion-button expand="" color="warning" [routerLink]="['/activar']"><ion-icon name="checkbox-sharp"></ion-icon> Activar cuenta</ion-button></p>
  <p class="ion-text-center"><ion-button expand="" [routerLink]="['/home-residente']"><ion-icon name="person-circle-sharp"></ion-icon>  Iniciar sesión</ion-button></p>
</ion-toolbar>

<!-- Small title above a default title -->
<ion-toolbar>
  <ion-title size="small">¿Olvidaste tu código?</ion-title>
  <p class="ion-text-center"><ion-button [routerLink]="['/solicitud-codigo']" size="small">Solicitar tu código <ion-icon name="finger-print-sharp"></ion-icon></ion-button></p>
</ion-toolbar>

  </div>

</ion-content>




<!-- Footer without a border -->
<ion-footer class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-text color="warning"><small>© TecMaFex S.A. de C.V.</small></ion-text>
  </ion-toolbar>
</ion-footer> 
