<ion-header>
  <ion-toolbar color="warning">
    <ion-title [routerLink]="['/home']"><img src="assets/icon/logo_go.png" width="30" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Go!</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <p><img src="assets/icon/logo_go.png" width="90" alt="" [routerLink]="['/inicio']"></p>
  </div>
</ion-content>
